.create-user {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .create-user h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .create-user form {
    display:grid;
    gap: 10px;
  }
  
  .create-user label {
    font-size: 16px;
  }
  
  .create-user input[type="text"],
  .create-user input[type="email"],
  .create-user input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  .create-user button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .create-user button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .create-user p {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  